openapi: 3.0.0
info:
  title: ClickUp API
  description: API specification for ClickUp
  version: '2.0'

servers:
  - url: https://api.clickup.com/api/v2

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization

security:
  - ApiKeyAuth: []

paths:
  /task:
    post:
      summary: Create task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - list_id
              properties:
                name:
                  type: string
                list_id:
                  type: string
                description:
                  type: string
                priority:
                  type: integer
                  minimum: 1
                  maximum: 4
                due_date:
                  type: string
                  format: date-time
                start_date:
                  type: string
                  format: date-time
      responses:
        '200':
          description: Task created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                      color:
                        type: string

  /task/{task_id}:
    get:
      summary: Get task
      parameters:
        - name: task_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Task retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  status:
                    type: object
                    properties:
                      status:
                        type: string
                      color:
                        type: string

  /list/{list_id}/task:
    get:
      summary: Get tasks in list
      parameters:
        - name: list_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tasks retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        status:
                          type: object
                          properties:
                            status:
                              type: string
                            color:
                              type: string 